	<li >
		<ul class="project well">
			<% unless project.url.blank?%>
			<a href=<%=project.url%>>
			<% end %>
			<li class="project-thumb">
				<img src= <%= project.image_url %> alt= <%= project.title %> >
			</li>
			<% unless project.url.blank?%>
			</a>
			<% end %>	
			<span class="project-body">
				<li class="project-title">
					<% unless project.url.blank?%>
					<a href=<%=project.url%>>
					<% end %>	
					<%= project.title %>		
					<% unless project.url.blank?%>
					</a>
					<% end %>
				</li>	
				<li class="project-descrip">
					<%= project.description %>
				</li>
			</span>
		</ul>

		<% if current_user %>
			<%= button_to "edit", edit_project_path(project), :method=> :get %>
			<%= button_to "delete", project, :method=> :delete %>
		<% end %>

	</li>