	<li >
		<ul class="project well">
			<% unless project.url.blank?%>
			<a href=<%=project.url%>>
			<% end %>
			<li class="project-thumb">
				<% if project.image_url.include?('asset:') %>
					<img alt="GitHub" src="<%= image_path(project.image_url['asset:'.length .. project.image_url.length])%>" />
				<% else %>
					<img src= <%= project.image_url %> alt= <%= project.title %> >
				<% end %>
			</li>
			<% unless project.url.blank?%>
			</a>
			<% end %>	
			<span class="project-body">
				<li class="project-title">
					<% unless project.url.blank?%>
					<a href=<%=project.url%>>
					<% end %>	
					<%= project.title %>		
					<% unless project.url.blank?%>
					</a>
					<% end %>
				</li>	
				<li class="project-descrip">
					<%= project.description %>
				</li>
				<% unless project.source == nil or project.source.empty? %>
					<li class="project-source">
						<a href=<%=project.source%>>
						<img alt="GitHub" src="<%= image_path("GitHub-Mark-32px.png")%>" />
						View Source
						</a>
					</li>
				<% end %>
			</span>

			

			

		</ul>

		<% if current_user %>
			<%= button_to "edit", edit_project_path(project), :method=> :get %>
			<%= button_to "delete", project, :method=> :delete %>
		<% end %>

	</li>