<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'galleria/galleria-1.3.5.min.js' %>
  <%= javascript_include_tag 'galleria/themes/classic/galleria.classic.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'shared/nav_bar', title: yield(:title) %>	

  <% flash.each do |name, msg| %>
  	<%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <div id="wrapper">

  <%= yield %>

  </div>

</body>
</html>
